<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                <form class="form-horizontal" (submit)="register($event,complexForm.value)" [formGroup]="complexForm">
                    <div class="form-group"
                        [ngClass]="{'has-error':!complexForm.controls['name'].valid}">
                        <label for="name" class="col-md-4 control-label">Name</label>

                        <div class="col-md-6">
                            <input type="text"
                                class="form-control"
                                name="name"
                                required autofocus
                                [(ngModel)]="name"
                                [formControl]="complexForm.controls['name']"

                               >
                        </div>
                    </div>

                    <div class="form-group"
                        [ngClass]="{'has-error':!complexForm.controls['email'].valid}">
                        <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                        <div class="col-md-6">
                            <input type="email"
                                class="form-control"
                                name="email"
                                [(ngModel)]="email"
                                [formControl]="complexForm.controls['email']"

                                >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-4 control-label">Password</label>

                        <div class="col-md-6"
                            [ngClass]="{'has-error':!complexForm.controls['password'].valid}">
                            <input type="password"
                                class="form-control"
                                name="password"
                                [(ngModel)]="password"
                                [formControl]="complexForm.controls['password']"
                                >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                        <div class="col-md-6">
                            <input type="password"
                            class="form-control"
                            name="password_confirmation">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button class="btn btn-primary" [disabled]="!complexForm.valid">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
